footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 50px;
  z-index: 3; }
  footer div {
    margin-left: 15px;
    font-size: 0.8rem; }
  footer ul {
    display: flex;
    text-decoration: none;
    list-style-type: none; }
    footer ul li {
      margin-right: 15px; }
      footer ul li a {
        cursor: pointer;
        text-decoration: none;
        color: white; }
