#home-container {
  display: flex;
  flex-direction: row; }
  #home-container #space {
    width: 20%; }
  #home-container #feed-posts {
    width: 60vw;
    height: 100%;
    padding: 1rem; }
    #home-container #feed-posts #post-form {
      margin-bottom: 2rem;
      width: 95%;
      border-radius: 0.5rem;
      padding: 1rem;
      height: 160px;
      background-color: white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }
      #home-container #feed-posts #post-form #welcome-user {
        text-align: start;
        font-weight: bold;
        margin-bottom: 1rem; }
      #home-container #feed-posts #post-form textarea {
        resize: none;
        height: 4rem;
        width: 53vw;
        border-radius: 0.3rem;
        border: 1px solid lightgrey;
        padding: 0.5rem;
        margin-bottom: 0.5rem; }
      #home-container #feed-posts #post-form textarea::placeholder {
        font-size: 1rem; }
      #home-container #feed-posts #post-form textarea:focus {
        outline: none; }
      #home-container #feed-posts #post-form button {
        margin-left: 50vw;
        height: 2rem;
        width: 80px;
        background-color: #42B72A;
        color: white;
        border: none;
        border-radius: 0.3rem;
        font-size: 1.1rem;
        cursor: pointer;
        transition: background-color .2s ease-in-out; }
      #home-container #feed-posts #post-form button:hover {
        background-color: #42aa2d; }
    #home-container #feed-posts #posts-container ul {
      list-style: none; }
      #home-container #feed-posts #posts-container ul li .post-card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin-left: -2.5rem;
        padding: 1rem;
        text-align: start;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
        background-color: white; }
        #home-container #feed-posts #posts-container ul li .post-card .post-card-header {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 56vw; }
          #home-container #feed-posts #posts-container ul li .post-card .post-card-header .post-user-profile-pic {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: block;
            object-fit: cover;
            text-align: center; }
          #home-container #feed-posts #posts-container ul li .post-card .post-card-header .user-name {
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
            margin-left: .5rem;
            width: 89%;
            display: flex;
            flex-direction: column; }
            #home-container #feed-posts #posts-container ul li .post-card .post-card-header .user-name b {
              font-size: 0.9rem;
              margin-top: 0.5rem; }
            #home-container #feed-posts #posts-container ul li .post-card .post-card-header .user-name a {
              text-decoration: none;
              transition: text-decoration .2s ease-in-out; }
            #home-container #feed-posts #posts-container ul li .post-card .post-card-header .user-name a:hover {
              text-decoration: underline; }
          #home-container #feed-posts #posts-container ul li .post-card .post-card-header a {
            color: black; }
        #home-container #feed-posts #posts-container ul li .post-card .post-content {
          min-height: 70px;
          font-size: 1.2rem;
          white-space: pre-line;
          text-align: left;
          margin-bottom: 1rem;
          margin-left: .5rem; }
        #home-container #feed-posts #posts-container ul li .post-card .likes-count {
          color: #4b4b4b;
          font-size: 0.8rem;
          margin-bottom: 0.5rem;
          padding: 0.5rem;
          transition: background-color .2s ease-in-out;
          cursor: pointer; }
          #home-container #feed-posts #posts-container ul li .post-card .likes-count a {
            color: #4b4b4b;
            text-decoration: none; }
            #home-container #feed-posts #posts-container ul li .post-card .likes-count a i {
              color: #00b7ff; }
        #home-container #feed-posts #posts-container ul li .post-card .comments-container form textarea {
          resize: none;
          height: 1rem;
          width: 54.5vw;
          border-radius: 2rem;
          border: 1px solid lightgrey;
          padding: 0.5rem;
          font-size: 0.8rem;
          margin-bottom: 0.5rem;
          display: inline; }
        #home-container #feed-posts #posts-container ul li .post-card .comments-container form textarea::placeholder {
          font-size: 0.8rem; }
        #home-container #feed-posts #posts-container ul li .post-card .comments-container form textarea:focus {
          outline: none; }
        #home-container #feed-posts #posts-container ul li .post-card .comments-container form button {
          margin-left: 48vw;
          height: 2rem;
          width: 8vw;
          font-size: 0.8rem;
          background-color: #42B72A;
          color: white;
          font-weight: bold;
          border: none;
          border-radius: 0.3rem;
          cursor: pointer;
          transition: background-color .2s ease-in-out; }
        #home-container #feed-posts #posts-container ul li .post-card .comments-container form button:hover {
          background-color: #42aa2d; }
        #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments .comments-header {
          font-size: 0.8rem; }
        #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments ul li .comment-user-profile-pic {
          margin-left: -3vw; }
          #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments ul li .comment-user-profile-pic img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: inline-block; }
        #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments ul li .comment-card {
          background-color: #F0F2F5;
          border-radius: 1rem;
          margin-left: 0vw;
          margin-top: -35px;
          padding: 1rem;
          padding-top: 0.5rem;
          margin-bottom: 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          width: 20vw; }
          #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments ul li .comment-card .comment-user-name {
            font-size: 0.9rem;
            font-weight: bolder;
            margin-bottom: 0.5rem;
            display: flex;
            height: auto;
            flex-direction: row;
            justify-content: space-between; }
            #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments ul li .comment-card .comment-user-name a {
              color: black;
              text-decoration: none; }
            #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments ul li .comment-card .comment-user-name a:hover {
              text-decoration: underline; }
          #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments ul li .comment-card .comment-content {
            margin-left: 0rem;
            font-size: 1rem; }
        #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments ul li .comment-like {
          color: #4b4b4b;
          font-size: 0.8rem;
          margin-bottom: 0.5rem;
          padding: 0.5rem;
          transition: background-color .2s ease-in-out;
          cursor: pointer; }
          #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments ul li .comment-like a {
            color: #4b4b4b;
            text-decoration: none; }
            #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments ul li .comment-like a i {
              color: #00b7ff; }
  #home-container #all-users {
    border-left: 1px solid lightgray;
    padding-left: 1rem; }
    #home-container #all-users #all-users-header {
      font-weight: bold;
      font-size: 1rem;
      padding-left: .5rem;
      padding-right: .5rem;
      height: 3rem;
      line-height: 3rem;
      width: 210%;
      margin-left: -.9rem;
      background-color: #ffa200;
      text-align: center;
      cursor: pointer;
      transition: background-color .2s ease-in-out;
      color: #1A2238; }
    #home-container #all-users #all-users-header:hover {
      background-color: #f19900; }
    #home-container #all-users .user-list {
      padding: .5rem;
      border-bottom: .5px solid lightgray;
      height: 2rem;
      text-align: start;
      line-height: 2rem;
      cursor: pointer;
      margin-left: -.5rem;
      transition: background-color .2s ease-in-out;
      width: 210%;
      margin-left: -.9rem; }
    #home-container #all-users .user-list:hover {
      background-color: lightgray; }
    #home-container #all-users a {
      color: black;
      text-decoration: none; }
    #home-container #all-users a:hover {
      text-decoration: black;
      text-decoration: underline; }

@media only screen and (max-width: 600px) {
  #home-container #all-users {
    display: none; }
  #home-container #space {
    width: 20px; }
  #home-container #feed-posts {
    width: 100vw;
    padding: 0.3rem; }
    #home-container #feed-posts #post-form {
      margin-bottom: 2rem;
      width: 100%; }
    #home-container #feed-posts #posts-container ul {
      list-style: none; }
      #home-container #feed-posts #posts-container ul li .post-card .comments-container form textarea {
        width: 70.5vw; }
      #home-container #feed-posts #posts-container ul li .post-card .comments-container form button {
        width: 20vw; }
      #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments ul li .comment-card {
        width: 60vw; }
        #home-container #feed-posts #posts-container ul li .post-card .comments-container .posted-comments ul li .comment-card .comment-user-name {
          font-weight: bold; } }
